<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>chat-js</title>
</head>

<body>
    <h1 class="text-center">chat-js</h1>

    <main class="container-fluid">
        <div id="app" class="row">

            <div v-if="this.pseudo == ''" id="screenLogin">
                <div>
                    <h1>Chat-JS</h1>
                    <input v-if="this.pseudo == ''" v-on:keyup.enter="loginUser(pseudo)" type="text"
                        v-model="pseudoEdit" id="formPseudo" placeholder="Choisir votre pseudo ...">
                </div>
            </div>


            <div id="mainScreen" v-if="this.pseudo !== ''">
            <h4 class="currentSalon">Salon : <span>{{this.salon}}</span> </h4>



            <div id="listSalon" class="">
                <ul>
                    <li v-for="(linkSalon, index) in listSalon">
                        <a @click="changeSalon(index)" href="#"><strong>{{linkSalon}}</strong></a>
                    </li>
                </ul>
            </div>


            <div id="chat" class="col-8">
                <form action="#">
                    <div>


                        <div id="userSession">
                            <span v-if="this.pseudo !== ''">Bienvenue </span>
                            <span><strong>{{this.pseudo}}</strong></span>
                            <a href="#" v-if="this.pseudo !== ''" @click="logoutUser(this.pseudo)">Déconnexion</a>
                        </div>
                    </div>



                    <div id="listingMessage">
                        <ul id="test">
                            <li
                                v-for="({salon, idMsg, pseudo, msg, edit, dateMsg}, index) in filtreSalon(listMessages, salon)">
                                <span><strong>{{pseudo}}</strong> - {{dateMsg}}</span><br>
                                <span class="userMessage"></span>{{msg}}</span>
                                <i title="Editer ce message" @click="editMessage(idMsg, msg)" class="fas fa-edit"></i>
                                <i title="Effacer ce message" @click="deleteMessage(idMsg)" class="fas fa-times"></i>
                                <input v-if="edit == true" type="text" class="modifyInput" v-model="msgEdit" v-focus
                                    v-on:keyup.enter="validInputEditMessage(idMsg, edit)">


                                <hr>
                            </li>
                        </ul>
                        <div id="scroll"></div>
                    </div>



                    <div class="boxMessage">
                        <textarea v-focus v-on:keyup.enter="addMessage(pseudo,msg,dateMsg)" v-model="msg" cols="27"
                            rows="3" placeholder="Envoyer un message ..."></textarea>
                        <i @click="addMessage(pseudo,msg,dateMsg)" class="fas fa-paper-plane"></i>
                    </div>
                    <!-- <button @click="addMessage(pseudo,msg,dateMsg)" type="button">Envoyer le message</button> -->
                </form>





            </div>

            <div id="usersConnected" class="">
                <ul>
                    <li v-for="({pseudo, idUser}, index) in listUsers">
                        <a @click="privateSalon(idUser)" href="#">{{pseudo}}</a>
                    </li>
                </ul>
            </div>


        </div>
        </div>
    </main>


    <script src="js/vue.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <script src="js/app.js"></script>
</body>

</html>