<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-database.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>chat-js</title>
</head>

<body>
    <h1 class="text-center">Chat-js</h1>

    <main class="container-fluid">
        <div id="app" class="row">


            <transition v-if="this.pseudo == ''" key="this.pseudo == ''" name="fade" mode="out-in">
                <div class="fixed-top d-flex flex-column justify-content-center align-items-center h-100 w-100"
                    id="screenLogin">
                    <h1>Chat-JS</h1>


                    <!-- CONNECTION -->

                    <transition appear name="fade" mode="out-in">
                        <form v-if="this.switchFormLogin === true" key="switchFormLogin === true" id="connection"
                            action="javascript:;">
                            <div><i class="fas fa-user"></i></div>

                            <label class="col-12 w-75 text-left mb-0 px-2" for="Pseudo">Nom d'utilisateur :</label>
                            <input class="w-75 text-left px-2" v-focus v-if="this.pseudo == ''" name="Pseudo" v-on:keyup.enter="connectWithEmail()"
                                type="text" required v-model="pseudoEdit" id="formPseudo" title="Votre pseudo"
                                placeholder="Nom d'utilisateur"><br><br>

                            <label class="col-12 w-75 text-left mb-0 px-2" for="E-mail">E-mail :</label>
                            <input class="w-75 text-left  px-2" v-if="this.email == ''" name="Email" v-on:keyup.enter="connectWithEmail()"
                                type="email" required v-model="emailEdit" id="formEmail" title="Votre E-mail"
                                placeholder="Adresse E-mail (valide)"><br><br>

                            <label class="col-12 w-75 text-left mb-0  px-2" for="Password">Mot de passe :</label>
                            <input class="w-75 text-left  px-2" type="password" title="Votre mot de passe" name="Password" required 
                                v-on:keyup.enter="connectWithEmail()" v-model=passwordEdit id="formPassword"
                                placeholder="Mot de passe"><br>
                            <span class="" id="errorConnect"></span><br>
                            <button id="btnConnect" @click="connectWithEmail()" type="submit">Se connecter</button><br>

                            <a class="linkSwitchForm" @click="switchFormLogin = false" href="#">S'enregistrer</a>
                        </form>
                      


                        <!-- iNSCRIPTION -->

                        <form v-if="this.switchFormLogin === false" key="this.switchFormLogin === false"
                            id="inscription" action="javascript:;">

                            <div><i id="userPlus" class="fas fa-user-plus"></i></div>

                            <label class="col-12 w-75 text-left mb-0 px-2" for="Pseudo">Nom d'utilisateur :</label>
                            <input class="w-75 text-left px-2" v-focus v-if="this.pseudo == ''" name="Pseudo"
                                v-on:keyup.enter="inscriptionWithEmail()" type="text" required v-model="pseudoEdit"
                                id="formPseudo" title="Votre pseudo" placeholder="Choisir un nom d'utilisateur"><br><br>

                            <label class="col-12 w-75 text-left mb-0 px-2" for="E-mail">E-mail :</label>
                            <input class="w-75 text-left px-2" v-if="this.email == ''" name="Email"
                                v-on:keyup.enter="inscriptionWithEmail()" type="email" required v-model="emailEdit"
                                id="formEmail" title="Adresse E-mail (valide)" placeholder="Adresse E-mail (valide)"><br><br>

                            <label class="col-12 w-75 text-left mb-0 px-2" for="Password">Mot de passe :</label>
                            <input class="w-75 text-left px-2" type="password" title="Votre mot de passe (6 caractères minimum)" name="Password" required pattern="\w{6}"
                                v-on:keyup.enter="inscriptionWithEmail()" v-model=passwordEdit id="formPassword"
                                placeholder="Choisir un mot de passe"><br>
                            
                            <span class="" id="accountMsg"></span><br>
                            
                            <button id="btnConnect" @click="inscriptionWithEmail()" type="submit">S'enregistrer</button><br>
                            <a class="linkSwitchForm" @click="switchFormLogin = true" href="#">Vous avez déja un compte ?</a>
                        </form>
                    </transition>

                </div>

            </transition>

            <transition name="fade" appear mode="out-in">


                <div id="mainScreen" v-if="this.pseudo !== ''" key="this.pseudo !== ''">

                    <h4 class="currentSalon"><span>{{this.salon}}</span></h4>



                    <div id="listSalon" class="">
                        <ul>
                            <li v-for="(linkSalon, index) in listSalon">
                                <a @click="changeSalon(index)" href="#"><strong>{{linkSalon}}</strong></a>
                            </li>
                        </ul>
                    </div>


                    <div id="chat" class="col-8">
                        <form action="#">
                            <div>


                                <div id="userSession">
                                    <span v-if="this.pseudo !== ''">Bienvenue
                                        <strong>{{this.pseudo}}</strong></span><br>
                                    <a id="logoutLink" href="#" v-if="this.pseudo !== ''"
                                        @click="logoutUser(this.pseudo)">Déconnexion</a>
                                </div>
                            </div>



                            <div id="listingMessage">
                                <!-- <ul> -->
                                <transition-group name="fade" mode="out-in" tag="ul">
                                    <li v-for="({salon, idMsg, pseudo, msg, edit, dateMsg}, index) in filtreSalon(listMessages, salon)"
                                        :key="idMsg">
                                        <span><strong id="pseudoInChat">{{pseudo}}</strong> - <span
                                                id="dateInChat">{{dateMsg}}</span></span><br>

                                        <textarea v-if="edit == true" type="text" class="modifyInput" v-model="msgEdit"
                                            v-focus v-on:keydown.enter="validInputEditMessage(idMsg, edit)" v-on:keyup.enter="edit = false"></textarea>
                                        <span class="userMessage"></span id="msgInChat">{{msg}}</span>
                                        <div class="groupBtnMsg">
                                            <i v-if="checkPseudo(pseudo)" id="editBtn" title="Editer ce message"
                                                @click="editMessage(idMsg, msg, pseudo)" class="fas fa-edit"></i>
                                            <i v-if="checkPseudo(pseudo)" id="deleteBtn" title="Effacer ce message"
                                                @click="deleteMessage(idMsg, pseudo)" class="fas fa-times"></i>
                                        </div>

                                        <hr>
                                    </li>
                                </transition-group>
                                <!-- </ul> -->
                                <div id="scroll"></div>
                            </div>


                            <div class="boxMessage">
                                <textarea v-focus v-on:keydown.enter="addMessage(pseudo,msg,dateMsg)" v-on:keyup.enter="msg=''" v-model="msg"
                                    cols="27" rows="2" placeholder="Envoyer un message ..."></textarea>
                                <i @click="addMessage(pseudo,msg,dateMsg)" class="fas fa-paper-plane"></i>
                            </div>

                        </form>

                    </div>


                    <div id="usersConnected" class="">
                        <p class="text-center">En ligne</p>
                        <ul id="usersOnLine">
                            <li v-for="({pseudo, enLigne, idUser}, index) in listUsers" v-if="enLigne === true"
                                :key="pseudo">
                                <a v-if="enLigne === true" :title="'Discuter avec ' + pseudo" @click="privateSalon(idUser)" href="#">{{pseudo}}</a>
                            </li>
                        </ul>

                        <p class="text-center">Hors ligne</p>
                        <ul id="userOffLine">
                            <li v-for="({pseudo, enLigne, idUser}, index) in listUsers" v-if="enLigne === false"
                                :key="pseudo">
                                <a v-if="enLigne === false" :title="pseudo + ' est hors-ligne'" @click="privateSalon(idUser)" href="#">{{pseudo}}</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </transition>

        </div>
    </main>

    <script src="js/vue.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/app.js"></script>

</body>

</html>