<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>chat-js</title>
</head>

<body>
    <h1>chat-js</h1>

    <main>
        <div id="app">
            <div class="champSaisie">


                <div class="listSalon">
                    <p>Salon : <span>{{this.salon}}</span> </p>
                    <ul>
                        <li v-for="(linkSalon, index) in listSalon">
                            <a @click="changeSalon(index)" href="#"><strong>{{linkSalon}}</strong></a>
                        </li>
                    </ul>
                </div>


                <form>
                    <div class="BoxPseudo">
                        <input v-on:keyup.enter="choixPseudo()" type="text" v-model="pseudo" id="formpseudo" placeholder="Choisir votre pseudo ...">
                    </div>

                    <div class="BoxMessage">
                        <textarea v-model="msg" cols="27" rows="3" placeholder="Ecrir un message ..."></textarea>
                    </div>
                </form>
                
                <button @click="addMessage(pseudo,msg,dateMsg)" type="button">Envoyer le message</button>

            </div>


            <div class="listingMessage">
                <ul>
                    <li v-for="({salon, idMsg, pseudo, msg, edit, dateMsg}, index) in filtreSalon(listMessages, salon)">
                        <span><strong>{{pseudo}}</strong> - {{dateMsg}}</span>
                        <p class="userMessage"></span>{{msg}}</p>
                        <input v-if="edit == true" type="text" class="modifyInput" v-model="msgEdit" v-focus
                            v-on:keyup.enter="validInputEditMessage(idMsg, edit)">
                        <i @click="deleteMessage(idMsg)" class="fas fa-times"></i>
                        <i @click="editMessage(idMsg, msg)" class="fas fa-edit"></i>
                        <hr>
                    </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li v-for="(linkUser, index) in listUsers">
                        <a href="#">{{linkUser}}</a>
                    </li>
                </ul>
            </div>


        </div>
    </main>

    <script src="js/vue.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <script src="js/app.js"></script>
</body>

</html>