* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    color: white;
}

* i {
    cursor: pointer;
}

h4 {
    text-indent: 16%;
}

body {
    height: 100vh;
    background: rgb(53, 53, 53);
}

#screenLogin {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(66, 66, 66);
    text-align: center;
}

.currentSalon {
    position: fixed;
    left: 12%;
    top: 13px;
    width: 24%;
    padding-left: 10px;
}

#screenLogin div {
    margin-top: 30vh;
}

#formPseudo {
    margin: auto;
    height: 50px;
    padding: 0 10px;
}

#userSession {
    position: fixed;
    /* left: 16%; */
    text-indent: 10px;
    right: 17%;
    top: 14px;
}

a {
    color: rgb(116, 153, 255);
}

a strong {
    color: rgb(116, 153, 255);
}

a:hover {
    color: rgb(0, 188, 245);
}

a strong:hover {
    color: rgb(0, 188, 245);
}

.boxMessage {
    position: fixed;
    bottom: 30px;
    left: calc(16% + 50px);
    right: 16%;
}

input {
    background: gray;
    border: none;
    margin-left: 10px;
}

#chat textarea {
    width: calc(100% - 50px);
    padding: 10px;
    background: #434447;
    border: none;
}

.boxMessage i {
    font-size: 2em;
}

#listSalon {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 84%;
    padding: 160px 10px 160px 10px;
    background: rgb(34, 34, 34);
}
#listSalon li{
    margin: 10px 0
}

#listingMessage {
    position: fixed;
    top: 56px;
    bottom: 125px;
    right: 16%;
    left: 16%;
    background: rgb(41, 41, 41);
    padding: 0 10px;
    overflow-y: hidden;
}

#listingMessage:hover {
    overflow-y: scroll;
}

hr {
    background-color: #474747;

}

#usersConnected {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 84%;
    padding: 160px 10px 160px 20px;
    background: rgb(34, 34, 34);
    text-align: left;
}